include README.md
include LICENSE
include osewb/.flake8
include osewb/.mypy.ini
include osewb/.pycodestyle
include osewb/.mustache
include osewb/docs/ose-sticker-logo.svg
recursive-include osewb/docs/templates/ *
recursive-include osewb/templates/ *
recursive-include osewb/cookiecutter_ose_workbench/ *
